<div class="row" style="text-align: center;">
    <div class="col-sm-4" style="background-color:lavender; ">


        <input type="text" value="22.1" class="dial" data-fgColor="Yellow" data-min="2" data-max="40" data-angleOffset=-125 data-angleArc=250 readonly>
        <script>
            $(function() {
                $(".dial").knob();
            });
        </script>

    </div>
</div>
